@model NerdDinner1._4.Models.DinnerFormViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Host a Dinner</h2>
@{Html.RenderPartial("DinnerForm");
  
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
