@model NerdDinner1._4.Models.DinnerFormViewModel

@{
    ViewBag.Title = "Edit " + Html.DisplayFor(Model => Model.Dinner.Title);
}

<h2>Edit Dinner</h2>

@{Html.RenderPartial("DinnerForm");
  }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
